#!/usr/bin/make -f

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

build: build-stamp
build-stamp:
	dh build
	touch build-stamp

clean:
	dh clean

install: build install-stamp
install-stamp:
	dh install
        # copy libs to the right place and link
	mkdir -p debian/libglshim/usr/lib/${DEB_HOST_MULTIARCH}
	cp src/*.so* debian/libglshim/usr/lib/${DEB_HOST_MULTIARCH}
	cd debian/libglshim/usr/lib/${DEB_HOST_MULTIARCH} && ln -s libGL.so.1 libGL.so
	cd debian/libglshim/usr/lib/${DEB_HOST_MULTIARCH} && ln -s libGL2.so.1 libGL2.so
	touch install-stamp

binary-arch: install
	dh binary-arch

binary-indep: install
	dh binary-indep

binary: binary-arch binary-indep

